@font-face
{
	font-family: 'Indie Flower';
	src: url('/fonts/IndieFlower.ttf');
}

html, body, .chalkboard
{
	width:  100%;
	height: 100%;

	padding: 0px;
	margin:  0px;

	overflow: hidden;

	color:       #AAFF66;
	font-size:   1.75vw;
	font-family: 'Indie Flower';

	user-select:         none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	-webkit-user-select: none;
}

.chalkboard
{
	background: url('/img/chalkboard.png');

	background-position: 50% 50%;
	background-size:     cover;
	background-color:    #284F37;  /* Fallback color */

	box-sizing: border-box;
}

.title-logo
{
	width: 100%;
}

.title-logo-img
{
	transform: scale(1.1);
}

.topbar
{
	background:      url('/img/blackboard.png');
	background-size: cover;

	position: static;

	top:     0vw;
	padding: 0.75vw;

	font-size: 1.5vw;

	color: #FFFF99;
}

.button, .magnet
{
	margin: 0.15em;

	padding:       0.5em;
	padding-left:  1em;
	padding-right: 1em;
}

.button:hover, .clickable:hover
{
	cursor: pointer;
}

.button.disabled:hover
{
	cursor: not-allowed;
}

.magnet, .magnet-small
{
	background-color: #EEE;

	box-shadow: inset -0.1vw -0.1vw 1px 0px rgba(0, 0, 0, 0.5),
	            inset 0.1vw 0.1vw 1px 0px rgba(255, 255, 255, 0.5);

	font-family: 'Helvetica', sans-serif;
	color:       #000;
}

.magnet.button.enabled:hover, .magnet-small.button.enabled:hover
{
	background-color: #FEFEFE;
	color:            #111;
}

.magnet.button.enabled:active, .magnet-small.button.enabled:active
{
	background-color: #DEDEDE;
}

.magnet.button.disabled, .magnet-small.button.disabled
{
	color: #AAA;
}

.magnet-small
{
	font-size: 0.9vw;
}

.chalk, .chalk-small
{
	margin: 0.15em;

	border: 0.1em dashed;

	padding:       0.3em;
	padding-left:  0.75em;
	padding-right: 0.75em;
}

.chalk.button.enabled:hover, .chalk-small.enabled:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}

.chalk.button.enabled:active, .chalk-small.enabled:active
{
	background-color: rgba(128, 128, 128, 0.1);
}

.chalk.highlighted
{
	border-color: #FF5154 !important;
}

.chalk-small
{
	border:    0.05em dashed;
	font-size: 1.3vw;

	padding:       0.2em;
	padding-left:  0.8em;
	padding-right: 0.8em;
}

.error-message
{
	color: #FF5154;
}

input[type=text].chalk, input[type=password].chalk
{
	background: none;

	border: 0.2vw #AAFF66 dotted;

	color:       #CCFF77;
	font-size:   1.75vw;
	font-family: 'Indie Flower';

	padding:       0.2em;
	padding-left:  0.7em;
	padding-right: 0.7em;
}

.center-content
{
	margin: 5vw auto;
	text-align: center;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.button-menu
{
	width: 20%;
}

.field
{
	display: inline-flex;
	margin: 1vw;
}

.field-label
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.fields-container
{
	width: 60%;
}

.sentence-tile-container
{
	margin-top:    1vw;
	min-height:    2.6vw;
	overflow-wrap: normal;
	overflow:      wrap;
}

.table
{
	padding: 0vw;
}

.table-row
{
	border-bottom: 0.05em dashed;

	padding-top:    0.5vw;
	padding-bottom: 0.5vw;
}

.table-column, .table-label
{
	border-right: 0.05em dashed;

	padding-left:  1vw;
	padding-right: 1vw;

	display: inline-block;
}

.table-label
{
	color:     #FFFF99;
	font-size: 1.1vw;
	border:    none;

	display: inline-block;
}

.no-border
{
	border: none;
}

.table-row.highlighted
{
	color:        #FFBB88;
	border-color: #AAFF66;

	background: rgba(0, 0, 0, 0.2);
}

.table-column.highlighted
{
	border-width: 0.1em;
}
